---
---
@import "{{ site.theme }}";

header{
  background-color: #ec1b1b;
  background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/7/7f/American_Red_Cross_logo.svg/1200px-American_Red_Cross_logo.svg.png');
  background-position: center top;
  background-size: cover;
}

footer{
  background-color: #ec1b1b;
}

#header-wrap{
  background-color: #ec1b1b;
}

#project_title{
  font-familiy: Monserrat;
}
